{% load static %}

<!-- Custom fonts for this template-->
<link href="{% static 'content/dashboard/css/lib/amchart/export.css'%}" rel="stylesheet">
<link href="{% static 'content/dashboard/css/lib/owl.carousel.min.css'%}" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="{% static 'content/dashboard/css/lib/owl.theme.default.min.css'%}" rel="stylesheet">
<link href="{% static 'content/dashboard/css/style.css'%}" rel="stylesheet">
<link href="{% static 'content/dashboard/css/custom-styles.css'%}" rel="stylesheet">
