{% extends 'globals/index.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Daily Interests</h4>             
                <h6 class="card-subtitle">Your interests per day</h6>                        
                <div class="table-responsive m-t-40">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Investment</th>
                                <th>Interest Rate</th>
                                <th>Interest in Dogecoins</th>    
                                <th>Interest in USD</th>                              
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for interest in interests %}
                            <tr>
                                <td><i class="cc DOGE"></i> {{interest.investment_amount}}</td>
                                <td><i class="cc USD"></i> {{interest.interest_per_day}} %</td>
                                <td>{{interest.interest_doge}}</td>  
                                <td>{{interest.interest_usd}}</td>                                                               
                                <td>{{interest.date_created}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}